PINECONE_API_KEY=""
PINECONE_ASSISTANT_NAME="sbwc-chatbot"
PINECONE_ASSISTANT_URL="https://prod-1-data.ke.pinecone.io/assistant/chat"
SHOW_ASSISTANT_FILES="false"
SHOW_CITATIONS="true"
ACCESS_PASSWORD=""
